/* banner style */
.banner{
    position: relative;
    text-align: right;
    color: black;
}
.bnr-txt{
  position: absolute;
  right: 100px;
  top: 20%;
  bottom: 80%;
  width: 900px;
  font-size: 55px

}

.bnr-description{
    position:absolute;
    right: 100px;
    top: 53%;
    bottom: 47%;
    font-size: 20px;
}
.bnr-btn{
    position: absolute;
    right: 100px;
    top: 70%;
    bottom: 30%;
    width: 160px;
    height: 64px;
    border-radius: 4px;
    background-color: orangered;
    border: none;
    color: white;
    font-size: 20px;
    padding: 12px 24px;

}
/* main section */

main{
    position: relative;
    width: 1000px;
    height: 800px;
    left: 106px;
   
}

/* secton 2 css */
.section2{

}
.section-image{
    width: 569px;
    height: 723.3px;
    /* inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  


}
.section-title{
    position: absolute;
    width: 288px;
    height: 94px;
    left: 600px;
    top: 240px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;

}
.section-description{
    position: absolute;
    width: 416px;
    height: 104px;
    left: 600px;
    top: 370px;
    color: #444343;
}
#section-list{
    position: absolute;
    width: 349px;
    height: 162px;
    left: 615px;
    top: 460px;
}
#section-list2{
    position: absolute;
    width: 349px;
    height: 162px;
    left: 615px;
    top: 480px;
}
#section-list3{
    position: absolute;
    width: 349px;
    height: 162px;
    left: 615px;
    top: 500px;
}
#section-list4{
    position: absolute;
    width: 349px;
    height: 162px;
    left: 615px;
    top: 520px;
}
#section-list5{
    position: absolute;
    width: 349px;
    height: 162px;
    left: 615px;
    top: 540px;
}

/* my plan section css */
.my-plan{
    position: absolute;
    width: 1141px;
    height: 299.96px;
    left: 170px;
    top: 1450px;
}

.plan-title{
    position: absolute;
    width: 179px;
    height: 47px;
    left: 430px;
    

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    }

/* web development  */

.web-image{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 80px;
    top: 130px;
    

}
.web-title{
    position: absolute;
    width: 250px;
    height: 35px;
    left: 0px;
    top: 190px;
    
    /* title style*/
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}
.web-description{
    position: absolute;
    width: 270px;
    height: 35px;
    left: 78px;
    top: 240px;
}

.js-image{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 340px;
    top: 130px;
}

.js-title{
    position: absolute;
    width: 250px;
    height: 35px;
    left: 320px;
    top: 190px ;
}

.js-description{
    position: absolute;
    width: 270px;
    height: 35px;
    left: 340px;
    top: 240px;
}


/* smoking habit style */

.smoke-image{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 610px;
    top: 130px;    
}

.smoke-title{
    position: absolute;
    width: 250px;
    height: 35px;
    left: 578px;
    top: 190px;

}


.smoke-description{
    position: absolute;
    width: 270px;
    height: 35px;
    left: 610px;
    top: 240px;
}
/* ecommerce plan css style */

.ecommerce-image{
    position: absolute;
    width: 65px;
    height: 65px;
    top: 130px;
    left: 870px;
}

.ecom-title{
    position: absolute;
    width: 250px;
    height: 35px;
    top: 190px;
    left: 840px;

}
.ecom-description{
    position: absolute;
    width: 270px;
    height: 35px;
    top: 240px;
    left: 860px ;

}
/* section 4 css style */

.watch{
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 110px;
    top: 1800px;
    

}

.sec-title{
    position: absolute;
    width: 450px;
    height: 90px;
    top: 1850px;
    left: 140px;
    border-radius: 10px;

    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    border-radius: 8px;


    /* font style */
    color: white;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

}

.sec-btn{
    position: absolute;
    width: 140px;
    height: 55px;
    top: 1990px;
    left: 140px;
    background-color: white;
    border-radius: 4px;
    /* font style */
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.always-positive{
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    border-radius: 8px;
}